* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    color: #333333;
}

#content {
    width: 95vw;
    height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#encodingSelection {

    width: 80vw;
    max-width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

button {

    width: 30%;
    margin: 1rem auto;
    
    height: 3rem;
    font-size: 1.5rem;

    border: 2px solid #333333;
    background-color: transparent;
    border-radius: 5px;

    cursor: pointer;
}

button:hover, button:active, button:focus {
    background-color: #333333;
    color: #EEEEEE;
}

#options input {
    width: 4rem;
    
    border: 2px solid #333333;
    border-radius: 5px;
    
    padding: 0.25rem;

    text-align: center;
}

#options input:hover, #options input:active, #options input:focus {
    background-color: #333333;
    color: #EEEEEE;
}

#textDisplay {
    width: 75vw;
    max-width: 800px;

    min-height: 25vh;

    margin: 2rem auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.wordBox {
    margin: 0;
    padding: 0;

    display: flex;
}

.letterBox {
    margin: 0;
    padding: 0;

    width: 1.25rem;

    font-size: 2rem;    
    line-height: 4rem;

    font-family: 'Consolas', 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}

.letterBox.number {
    width: 2.75rem;

    font-size: 2rem;
    line-height: 4rem;
}

.letterBox.braille {
    width: 3rem;
    
    font-size: 3rem;
    line-height: 6rem;
}

.braille img {
    width: 60%;
}

.letterBox.pigpen {
    width: 2rem;
    
    font-size: 3rem;
    line-height: 4rem;
}

.pigpen img {
    width: 80%;
}

.letterBox.semaphore {
    width: 3rem;
    
    font-size: 3rem;
    line-height: 4rem;
}

.semaphore img {
    width: 80%;
}

.typedCorrect {
    color: #CCCCCC;
}

#results {
    width: 80vw;

    min-height: 25vh;

    text-align: center;
    color: #333333;
}

#results h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#results p {
    font-size: 1rem;
}

#results button {
    min-width: 300px;
    width: 40%;
    max-width: 400px;
}