* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    color: #333333;
}

#content {
    width: 95vw;
    height: 95vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#encodingSelection {

    width: 80vw;
    max-width: 1000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#encodingSelection button {

    width: 30%;
    margin: 1rem auto;
    
    height: 3rem;
    font-size: 1.5rem;

    border: 2px solid #333333;
    background-color: transparent;
    border-radius: 5px;

    cursor: pointer;
}

#encodingSelection button:hover, #encodingSelection button:active {
    background-color: #333333;
    color: #EEEEEE;
}

#textDisplay {
    width: 75vw;
    max-width: 800px;

    min-height: 25vh;

    margin: 2rem auto;

    font-size: 2rem;
    line-height: 4rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.wordBox {
    margin: 0;
    padding: 0;

    display: flex;
}

.letterBox {
    margin: 0;
    padding: 0;

    width: 2rem;
   
    font-family: 'Lucida Console', 'Courier New', monospace;
    text-align: center;
}

.letterBox.number {
    font-size: 1.25rem;
}

.typedCorrect {
    color: #CCCCCC;
}

#results {

    min-height: 25vh;

    text-align: center;
    color: #333333;
}

#results h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#results p {
    font-size: 1rem;
}

.letterBox.braille {
    font-size: 3rem;
    width: 3rem;
    line-height: 6rem;
}

.braille img {
    width: 60%;
}